body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f2f2f2;
  border: 3px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
h1 {
  color: #333;
  font-size: 50px;
  margin-bottom: 20px;
}
p {
  margin-bottom: 10px;
}
button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
img {
  width: 600px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
